# =============== #
# Unity generated #
# =============== #
TheMightyMarian/Temp/
TheMightyMarian/Library/*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
TheMightyMarian/ExportedObj/
TheMightyMarian/obj/
TheMightyMarian/images/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*UnityVS*
